* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Franklin Gothic Book";
  src: url("../fonts/Franklin\ Gothic\ Book.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #4d4bac;
  font-family: "Franklin Gothic Book", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ecf1f4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*Formatando o header*/
.header {
  padding-left: 50%;
  position: relative;
  margin-right: 70px;
  margin-bottom: 190px;
  padding-top: 100px;
}
.header::before {
  content: "";
  display: block;
  width: 861px;
  height: 800px;
  position: absolute;
  background-image: url(../images/ilustration-1.png);
  background-position: center center;
  background-size: cover;
  left: -150px;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100px;
  transition: 1s;
}
.menu-color {
  position: fixed;
  background-color: #4947a1;
  height: 50px;
  transition: 1s;
}

.menu__list {
  list-style: none;
  position: absolute;
  right: 20%;
  top: 50%;
}

.menu__list-item {
  display: inline;
  margin-right: 25px;
}

.menu__item {
  display: inline-block;
  text-decoration: none;
  color: #ecf1f4;
}

.menu__list-item.active a,
.menu__item:hover {
  color: #ffc21a;
}

/* menu responsive */
.btn-menu {
  background: #4947a1;
  border-radius: 20%;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 25px;
  right: 25px;
  border: 1px solid;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 25%;
  transition: 0.5s ease-in-out;
}
.hamburguer::before,
.hamburguer::after {
  background: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.hamburguer::before {
  top: -10px;
}
.hamburguer::after {
  bottom: -10px;
}
#menu-hamburguer {
  display: none;
}

#menu-hamburguer:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

#menu-hamburguer:checked ~ label .hamburguer::before {
  top: 0;
  transform: rotate(90deg);
}

#menu-hamburguer:checked ~ label .hamburguer::after {
  bottom: 0;
  transform: rotate(90deg);
}

.btn-menu {
  display: none;
}

.header__link {
  text-decoration: none;
  margin-left: 100px;
}

.header__title {
  font-size: 55px;
  margin-bottom: 95px;
  padding-left: 100px;
  letter-spacing: 10px;
  padding-top: 100px;
}

.header__title-yellow {
  color: #ffc21a;
  display: block;
  letter-spacing: 6px;
}

.header__title-comfortably {
  font-size: 50px;
  letter-spacing: 6px;
}

.header__text {
  margin-bottom: 80px;
  max-width: 500px;
  padding-left: 100px;
}

.btn-default {
  background: #ffc21a;
  color: #4d4bac;
  border: 1px solid #ffc21a;
  padding: 20px 30px;
  display: inline-block;
  cursor: pointer;
}

.btn-default:hover {
  box-shadow: 5px 10px 2px 0px rgb(97, 31, 160);
  transition: 0.3s;
}

/* Formatando a section how started */
.how-started {
  padding-top: 125px;
}

.b-bar::before {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/bar.png);
  top: -40px;
}

.section__title {
  text-align: center;
  margin-bottom: 46px;
  position: relative;
}

.list-process {
  list-style: none;
  text-align: center;
}

.list-process__item {
  display: inline-block;
  position: relative;
  max-width: 120px;
  padding-top: 250px;
  padding-right: 120px;
  vertical-align: top;
}

.list-process__title {
  letter-spacing: 2px;
  padding-bottom: 8px;
  line-height: 25px;
  font-size: 14, 26px;
}

.list-process__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 222px;
  height: 230px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
}

.list-process__item:nth-child(1)::before {
  background-image: url("../images/list-1.png");
}

.list-process__item:nth-child(2)::before {
  background-image: url("../images/list-2.png");
}

.list-process__item:nth-child(3)::before {
  background-image: url("../images/list-3.png");
}

.list-process__item:nth-child(4)::before {
  background-image: url("../images/list-4.png");
  width: 285px;
}

.list-process__title {
  color: #a9eadd;
}

/* Formatando a section about us */
.about-us {
  padding-top: 200px;
  position: relative;
  padding-left: 164px;
  padding-bottom: 80px;
}

.about-us::before {
  content: "";
  display: block;
  width: 705px;
  height: 550px;
  position: absolute;
  background-image: url(../images/ilustration-2.png);
  background-position: center center;
  background-size: cover;
  right: -90px;
  top: 100px;
}

.section__title-color::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/bar.png);
  margin-top: 5px;
}

.section__title-color {
  color: #a9eadd;
  font-weight: 500;
  font-size: 30px;
}

.section__sub-title {
  margin-bottom: 50px;
  max-width: 450px;
  margin-top: 40px;
  font-size: 30px;
}

.section__text {
  max-width: 460px;
  margin-bottom: 50px;
}

.section__sub-title_color {
  color: #a9eadd;
  letter-spacing: 2px;
}

/* Formatando a section our goals */
.our-goals {
  padding-top: 100px;
  position: relative;
  margin-bottom: 125px;
}

.our-goals::before {
  content: "";
  display: block;
  width: 585px;
  height: 500px;
  position: absolute;
  background-image: url(../images/ilustration-3.png);
  background-position: center center;
  background-size: cover;
  left: -150px;
  top: 0px;
  overflow: hidden;
  margin-top: 65px;
}

.our-goals-pd {
  padding-left: 500px;
}

.our-goals-pd-r {
  padding-left: 500px;
  max-width: 299px;
}

.btn-our-gols {
  margin-left: 500px;
  margin-right: 100px;
}

/* Formatando a section get in touch*/
.get-in-touch {
  padding-top: 150px;
  position: relative;
  margin-bottom: 200px;
}

.get-in-touch-pd-r {
  padding-left: 500px;
}

.get-in-touch::before {
  content: "";
  display: block;
  width: 580px;
  height: 500px;
  position: absolute;
  background-image: url(../images/ilustration-4.png);
  background-position: center center;
  background-size: cover;
  left: -100px;
  top: 90px;
}

.oneForm__input {
  display: inline-block;
  background-color: #4d4bac;
  border: 1.5px solid #a9eadd;
  border-radius: 5px;
  margin-top: 30px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 540px;
  height: 50px;
}
.oneForm {
  padding-left: 500px;
  padding-right: 100px;
  max-width: 540px;
}
::-webkit-input-placeholder {
  color: #ecf1f4;
  margin-right: 5px;
}
.get-in-touch-pd {
  padding-left: 500px;
  padding-right: 100px;
}

.oneForm__link {
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  color: #ecf1f4;
}
.name_form {
  width: calc(50% - 25px);
  margin-right: 45px;
  height: 50px;
}
.webLink_form {
  width: calc(50% - 25px);
  height: 50px;
}

.message_form {
  resize: none;
  font-family: "Franklin Gothic Book";
  height: 170px;
  padding-top: 25px;
  box-sizing: border-box;
}

.oneForm__bnt {
  width: 200px;
  height: 52px;
}

.oneForm__input-message {
  width: 540px;
  height: 170px;
}
/*Responsive 375 to 767*/
@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .rmv_before::before {
    content: none;
  }
  .header {
    padding-left: 0;
    margin-bottom: 60px;
    padding-top: 0;
  }
  .header__title {
    font-size: 35px;
    padding-left: 10%;
    margin-bottom: 40px;
    padding-top: 60px;
    max-width: 340px;
  }
  .header__text {
    padding-left: 10%;
    max-width: 500px;
    max-width: 250px;
    margin-bottom: 40px;
  }
  .header__title-yellow {
    display: inline;
  }
  .header__link {
    margin-left: 0;
  }
  .header__title-comfortably {
    font-size: 35px;
  }

  .menu {
    left: 55%;
    height: 100%;
    background: #4947a1;
    z-index: 1;
    transform: translateX(100%);
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu__list {
    top: 15%;
  }

  .menu__list-item {
    display: block;
    padding-top: 15px;
    font-size: 20px;
  }
  .btn-menu {
    display: block;
    z-index: 10;
  }

  .btn-default {
    padding: 10px 20px;
    max-width: 70%;
    text-align: center;
    margin-left: 10%;
  }
  /* Formatando a section how started */
  .how-started {
    padding-top: 60px;
    margin-bottom: 1px
  }
  .list-process__item::before {
    margin-top: 25px;
    width: 130px;
  }
  .list-process__item:nth-child(4)::before {
    width: 200px;
  }
  .list-process__item {
    padding-right: 25px;
  }

    .section__text {
    max-width: 250px;
    padding-left: 10%;
  }
  .section__title-color {
    max-width: 200px;
    font-size: 25px;
    padding-left: 10%;
  }

  .section__title-color::after {
    width: 65px;
    padding-left: 10%;
  }
  .section__sub-title {
    max-width: 270px;
    font-size: 20px;
    padding-left: 10%;
  }
  .section__title {
    font-size: 20px;
  }
  .section__title::before {
    max-width: 150px;
    top: -20px;
  }
  /* Formatting the section our goals*/
  .our-goals {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
    padding-top: 60px;
  }
  .our-goals-pd {
    padding-left: 10%;
  }
  .our-goals-pd-r {
    padding-left: 10%;
    max-width: 250px;
  }

  .btn-our-gols {
    max-width: 375px;
    padding-left: 25px;
    margin-left: 10%;
    margin-right: 0;
  }
  /* Formatatando a section about us*/
  .about-us {
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  /* Formatando a section get in touch*/
  .get-in-touch {
    padding-top: 60px;
    margin-bottom: 100px;
  }
  .get-in-touch-pd {
    padding-left: 10%;
    padding-right: 0;
  }
  .get-in-touch-pd-r {
    padding-left: 10%;
  }

  .oneForm {
    padding-left: 0;
    padding-right: 0;
  }
  .oneForm__input {
    max-width: 90%;
    display: block;
    margin-right: 0;
    margin-left: 5%;
  }
  .webLink_form {
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
  }
  .name_form {
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
  }
  .oneForm__bnt {
    height: 40px;
    margin-left: 20%;
  }
  .oneForm__link {
    padding-left: 10%;
    font-size: 14px;
  }
}

/*Responsive 768 to 1200*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header::before {
    width: 540px;
    height: 500px;
  }

  .header {
    margin-right: 5px;
  }

  .header__title {
    padding-left: 0;
    font-size: 40px;
  }

  .header__title-comfortably {
    font-size: 40px;
  }

  .header p {
    padding-left: 0;
  }

  .header__text { 
    padding-left: 0;
  }

  .btn-default {
    margin-left: 0;
  }

/*How started*/
  .list-process__item{
    padding-right: 65px;
  }

  .list-process__item:nth-child(1)::before {
    left: 60%;
  }

  .list-process__item:nth-child(4)::before {
    width: 195px;
  }

  .last-item {
    padding-right: 0;
  }

  /* Formatatando a section about us*/
  .about-us {
    padding-left: 50px;
  }

  .about-us::before {
    right: -260px;
    width: 570px;
    height: 450px;
  }

  .about-us-tx {
    max-width: 400px;
  }

  /*Formatting the section our goals*/

  .btn-our-gols {
    margin-left: 400px;
  }
  
  .our-goals-pd-r {
    width: 370px;
    padding-left: 400px;
  }

  .our-goals-pd {
    width: 320px;
    padding-left: 400px;
  }

  /*Formatting the section get in touch*/
  .get-in-touch::before {
    left: -240px;
  }

  .get-in-touch-pd-r {
    width: 410px;
    padding-left: 400px;
  }

  .get-in-touch-pd{
    padding-right: 0;
    width: 350px;
    padding-left: 400px;
  }

  .oneForm {
    padding-left: 400px;
  }

  .oneForm__input {
    width: 340px;
  }

  .name_form {
    width: 340px;
  }

  .webLink_form {
    width: 340px;
  }
}
