* {
	margin: 0; padding: 0;
}

@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('../font/Franklin\ Gothic\ Book.ttf');
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #4d4bac;
	font-family: 'Franklin Gothic Book';
	color: #ecf1f4;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
/*Formatando o header*/
.header {
	padding-left: 50%;
	position: relative;
	margin-right: 70px;
	margin-bottom: 190px;
	padding-top: 100px;
}
.header::before {
	content: '';
	display: block;
	width: 861px;
	height: 800px;
	position: absolute;
	background-image: url(../images/ilustration-1.png);
	background-position: center center;
	background-size: cover;
	left: -150px;
}

.menu {
	position: fixed;
    left: 0;
    right: 0;
	top: 0;
	z-index: 10;
	height: 100px;
	transition: 1s
}

.menu-color {
	position: fixed;
	background-color: #4947a1;
	height: 50px;
	transition: 1s
}

.menu__list {
	list-style: none;
	position: absolute;
    right: 20%;
	top: 50%;
}

.menu__list-item {
	display: inline;
	margin-right: 25px;
}

.menu__item {
	display: inline-block;
	text-decoration: none;
	color: #ecf1f4;
}

.is-active,
.menu__item:hover {
	color: #ffc21a;
}

.header__link{
	text-decoration: none;
	margin-left: 100px;
}


.header__title {
	font-size: 55px;
	margin-bottom: 95px;
	padding-left: 100px;
	padding-right: 160px;
	letter-spacing: 10px;
	padding-top: 100px;
}

.header__title-yellow{
	color: #ffc21a;
	display: block;
	letter-spacing: 6px;
}

.header__title-comfortably {
	font-size: 50px;
	letter-spacing: 6px;
}

.header__text {
	margin-bottom: 80px;
	padding-left: 100px;
}

.btn-default {
	background: #ffc21a;
	color: #4d4bac;
	border: 1px solid #ffc21a;
	padding: 20px 30px;
	display: inline-block;
	cursor: pointer;
}

.btn-default:hover {
	box-shadow: 5px 10px 2px 0px rgb(97, 31, 160);
}

/* Formatando a section how started */
.how-started {
	padding-top: 125px;
}

.b-bar::before {
	content: '';
	display: block;
	position: absolute;
	width: 200px;
	height: 20px;
	left: 50%;
	transform: translateX(-50%) ;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/bar.png);
	top: -40px;
}

.section__title {
	text-align: center;
	margin-bottom: 46px;
	position: relative;
}

.list-process {
	list-style: none;
	text-align: center;
}

.list-process__item {
	display: inline-block;
	position: relative;
	max-width: 120px;
	padding-top: 250px;
	padding-right: 120px;
	vertical-align: top;
}

.list-process__title {
	letter-spacing: 2px;
	padding-bottom: 8px;
	line-height: 25px;
	font-size: 14,26px;
}


.list-process__item::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 222px;
	height: 230px;
	left: 50%;
	transform: translateX(-50%);
	background-size: contain;
	background-repeat: no-repeat;
}

.list-process__item:nth-child(1)::before {
	background-image: url('../images/list-1.png');
}

.list-process__item:nth-child(2)::before {
	background-image: url('../images/list-2.png');
}

.list-process__item:nth-child(3)::before {
	background-image: url('../images/list-3.png');
}

.list-process__item:nth-child(4)::before {
	background-image: url('../images/list-4.png');
	width: 285px;
}

.list-process__title {
	color: #a9eadd;
}


/* Formatando a section about us */
.about-us {
	padding-top: 200px;
	position: relative;
	padding-left: 164px;
	padding-bottom: 80px;
}

.about-us::before {
	content: '';
	display: block;
	width: 705px;
	height: 550px;
	position: absolute;
	background-image: url(../images/ilustration-2.png);
	background-position: center center;
	background-size: cover;
	right: -90px;
	top: 100px;
}

.section__title-color::after {
	content: '';
	display: block;
	position: absolute;
	width: 200px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/bar.png);
	margin-top: 5px;
}

.section__sub-title {
	margin-bottom: 50px;
	padding-right: 750px;
	margin-top: 40px;
}

.section__text {
	padding-right: 700px;
	padding-left: 0px;
	margin-bottom: 50px
}

.section__sub-title_color {
	color: #a9eadd;
	letter-spacing: 2px;
}

/* Formatando a section our goals */
.our-goals {
	padding-top: 100px;
	position: relative;
	margin-bottom: 125px;
}

.our-goals::before {
	content: '';
	display: block;
	width: 585px;
	height: 500px;
	position: absolute;
	background-image: url(../images/ilustration-3.png);
	background-position: center center;
	background-size: cover;
	left: -150px;
	top: 0px;
	overflow: hidden;
	margin-top: 65px;
}

.our-goals-pd {
	padding-left: 500px;
	padding-right: 100px;
}

.our-goals-pd-r {
	padding-left: 500px;
	padding-right: 400px;
}

.btn-our-gols {
	margin-left: 500px;
	margin-right: 100px;
}

/* Formatando a section get in touch*/
.get-in-touch {
	padding-top: 150px;
	position: relative;
	margin-bottom: 200px;
}

.get-in-touch-pd-r {
	padding-left: 500px;
	padding-right: 300px;
}

.get-in-touch::before {
	content: '';
	display: block;
	width: 580px;
	height: 500px;
	position: absolute;
	background-image: url(../images/ilustration-4.png);
	background-position: center center;
	background-size: cover;
	left: -100px;
	top: 90px;
}

.oneForm__input {
	display: inline-block;
	background-color: #4d4bac;
	border: 1.5px solid #a9eadd;
	border-radius: 5px;
	margin-top: 30px;
	padding-left: 40px;
	box-sizing: border-box;
	width: 540px;
	height: 50px;
}
.oneForm {
	padding-left: 500px;
	padding-right: 100px;
}
::-webkit-input-placeholder {
	color: #ecf1f4;
	margin-right: 5px;
}
.get-in-touch-pd {
	padding-left: 500px;
	padding-right: 100px;
}

.oneForm__link {
	display: block;
	margin-top: 45px;
	margin-bottom: 45px;
	color: #ecf1f4;
}
.name_form {
	width: 240px;
	margin-right: 52px;
	height: 50px;
}
.webLink_form {
	width: 240px;
	height: 50px;
}

.message_form {
	resize: none;
	font-family: 'Franklin Gothic Book';
	height: 170px;
	padding-top: 25px;
	box-sizing: border-box;
}

.oneForm__bnt {
	width: 200px;
	height: 52px;
}

.oneForm__input-message {
	width: 540px;
	height: 170px;
}